#img1style {
    position:absolute;
    margin-top:5px;
    margin-left:45px;
}

#textstyle1 {
    position:relative;
    left:35px;
    top:800px;
}

#img2style {
    position:relative;
    right:0;
    top:0;
    width:50px;
}